.listSliders {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.5rem;
  height: 20rem;
  list-style: none;
  padding: 0.5rem;
  width: auto;
  border-radius: 5rem;
}
