* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #bd4444;
  /* background-color: #fff; */
  /* background-color: #4644bd; */
}

.App {
  font-family: sans-serif;
}

.titleComponent {
  font-weight: 800;
  font-size: 2rem;
  font-family: sans-serif;
  text-shadow: 0.4rem 0.4rem 0.5rem rgba(0, 0, 0, 0.268);
}

.ilustration {
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

/* COLOCANDO ESTILOS NOS COMPONENTES */

.sliderImportant {
  /* width: 20rem !important; */
}

.buttonSlider {
  position: relative;
  width: 3rem;
  border-radius: 6rem;
  min-width: 3rem;
  max-width: 4rem;
  border: 1px solid transparent;
  z-index: 20;
  box-shadow: 0.3rem 0.3rem 0.4rem #adabab;
  cursor: pointer;
  background-color: #fff;
  user-select: none;
}

.buttonSlider img {
  width: 100%;
  height: 100%;
  -webkit-user-drag: none;
}

.circles {
  background-color: #fff;
}

.slider {
  /* border: 1px solid red; */
}

.itensSlider {
  /* border: 1px solid blue; */
}
